.lecture {
  text-align: center;
  padding: 20px;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the video containers */
  gap: 20px; /* Space between each container */
  padding: 10px;
}

.video-wrapper {
  width: calc(33.33% - 20px); /* Adjust the width and gap as needed */
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 10px;
}

/* Responsive styles */
@media screen and (max-width: 1200px) {
  .video-wrapper {
    width: calc(50% - 20px); /* Two videos per row on medium screens */
  }
}

@media screen and (max-width: 768px) {
  .video-wrapper {
    width: calc(100% - 20px); /* One video per row on smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .video-wrapper {
    width: calc(100% - 20px); /* One video per row on even smaller screens */
  }
}
